@using Red_Social.Core.Application.ViewModels.Post;
@model SavePostViewModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center row ">
    <h2 class="text-black">Bienvenido @ViewBag.user.Name </h2>
     <div class="card-body ">
    <form method="post" asp-controller="Home" asp-action="CreatePost" enctype = "multipart/form-data">

                        <div class="mb-2 d-flex justify-content-center">

                             <div class="w-50">
                            <span asp-validation-for="Text" class="text-danger"></span>
                            <input asp-for="Text" class="form-control" required placeholder="Que estas pensando..."/>
                            <input  asp-for="File" class="form-control"/>
                            <span asp-validation-for="File" class="text-danger"></span>
                             </div>

                        </div>

                         <div class="text-center">
                        <button type="submit" class="btn btn-primary">Publicar</button>
                        </div>

                    </form>
                    </div>
                        
                        <div class="text-center ">
                            @*PUBLICACIONES DEL USUARIO*@
`
                        </div>


</div>

